{% extends 'base.html.twig' %}

{% block title 'Nouveau option' %}

{% block body %}
    <div class="container mt-40">
        <h1>Créer une nouvelle option</h1>
        {{ include('admin/option/_form.html.twig', {form: form, button: 'Créer'}) }}
    </div>
{% endblock %}